VITE_FIREBASE_API_KEY=AIzaSyBN0FqkXxBK3ItvXKkJo6-LDRWuzcG3oI4
VITE_FIREBASE_AUTH_DOMAIN=medicalhelperapp.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=medicalhelperapp
VITE_FIREBASE_STORAGE_BUCKET=medicalhelperapp.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=863706135480
VITE_FIREBASE_APP_ID=1:863706135480:web:c10d5c7c5e6be43ff32d4d